.btn-wrapper {
	padding-top: 2rem;
}

.page-links > a {
	display: inline-block;
	width: 3rem;
	text-align: center;
}

.profile-image {
	height: 300px;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

#blanceChart {
	width: 100%;
	height: 500px;
}

.pieChartRoot {
	width: 100%;
	height: 300px;
}

#adminChart {
	width: 100%;
	height: 560px;
}